@media all and (min-width:40em) {
    .block-content h2 {
        font-size: 4.75em;
    }

    .content h3 {
        font-size: 2em;
    }

    .l-contained {
        padding-left:2em;
        padding-right:2em;
    }
}

@media screen and (max-width: 1030px) {
    .intro {
        padding: 30px 10px;
    }

    .intro__inner {
        flex-direction: column;
    }

    .info {
        order: 2;
        max-width: 100%;
        margin-right: 0px;
    }

    .my_photo {
        order: 1;
        margin: 0 auto;
        height: 350px;
        width: 40%;
        margin-bottom: 20px;
    }

    .my_photo img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .intro__inner,
    .about__block {
        padding-left: 20px;
        padding-right: 20px;
    }

    .feedback__form input,
    .feedback__form textarea{
        width: 384px;
    }

    .contacts-info {
        padding-left: 0px;
    }

    .feedback__form {
        padding-right: 0px;
    }
}

@media screen and (max-width: 800px) {
    .my_photo {
        height: 275px;
    }
}

@media screen and (max-width: 655px) {
    .my_photo {
        width: 57%;
    }

    .title h3 {
        font-size: 30px;
    }

    .contacts__block {
        display: block;
    }

    .contacts h3 {
        font-size: 20px;
    }

    .contacts__items {
        margin-top: 44px;
    }

    .feedback__form h3 {
        margin-top: 56px;
        margin-bottom: 20px;
    }

    .feedback__form input,
    .feedback__form textarea {
        width: 100%;
    }

    .feedback__form button {
        max-width: 100%;
    }

    .feedback__form textarea {
        min-height: 80px;
    }
}

@media screen and (max-width: 520px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .my_photo {
        width: 77%;
        height: 320px;
    }
}

@media screen and (max-width: 375px) {
    .my_photo {
        width: 100%;
    }
}